<div class="loginForm">
    <div class="card">
        <div class="card-header" style="font-weight: bold; background-color:  rgb(177, 173, 173);">
          LOGIN AS
        </div>
        <div class="card-body">
            <button  type="button" class="btn">
                <a href="/teacher/login">Teacher Login</a>
            </button>
        
        
            <button  type="button" class="btn">
                <a href="/student/login">Student Login</a>
            </button>
        </div>
      </div>
    
</div>

