<div class="addForm">
  <a href="/teacher/option" class="btn" style="margin-top:5px; margin-left: 550px;">Back</a>
  <div class="card">
      <div class="card-header" style="font-weight: bold; background-color:   rgb(177, 173, 173);">
        ADD STUDENT RESULT
      </div>
      <div class="card-body">
        <form method="POST" class="addStu" autocomplete="off">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Roll No. : </label>
            <input type="number" name="roll" required class="form-control" id="exampleInputEmail1">
          </div>
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name : </label>
              <input type="text" name="name" required class="form-control" id="exampleInputEmail1" >
            </div>
            
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Date of Birth : </label>
              <input type="date" name="dob" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Score : </label>
              <input type="number" name="score" required class="form-control" id="exampleInputEmail1">
            </div>
          <button type="submit" class="btn">Add</button>
          <a href="/teacher/viewall" class="btn">View All</a>
      </form>
      </div>
    </div>
  
</div>