<a href="/" class="btn" style="margin-top:5px; margin-left:1100px;">Logout</a>
<div class="optionForm">
    <div class="card">
        <div class="card-header" style="font-weight: bold; background-color:   rgb(177, 173, 173);">
          SELECT 
        </div>
        <div class="card-body">
            <button class="btn">
                <a href="/teacher/viewall">View Students Results</a>
            </button>
            <button class="btn">
                <a href="/teacher/add">Add Student</a>
            </button>
        </div>
      </div>
    
</div>