<div class="teacherLogin">
<a href="/" class="backlink" >Back</a>
<div class="card">
  <div class="card-header" style="font-weight: bold; background-color:   rgb(177, 173, 173);">
    TEACHER LOGIN
  </div>
  <div class="card-body">
      <form method="POST" class="teachForm">
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password : </label>
          <input type="password" name="password"  class="form-control" id="pass">
          <br>
          <input type="checkbox" style="width: 30px;" onclick="myFunction()">Show Password
          <br>
        </div>
        <a><button type="submit" class="btn">Submit</button></a>
      </form>
    </div>
  </div>
 
</div>
<script>
  function myFunction() {
  var x = document.getElementById("pass");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>