<div class="studentLogin">
  <a href="/" class="backlink">Back</a>
  <div class="card">
    <div class="card-header" style="font-weight: bold; background-color:  rgb(177, 173, 173);">
      STUDENT LOGIN
    </div>
    <div class="card-body">
      <form method="POST" class="teachForm">
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Roll no : </label>
          <input type="number" name="roll" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Date of Birth : </label>
          <input type="date" name="dob" class="form-control" id="exampleInputPassword1">
        </div>
        <a><button type="submit" class="btn">Submit</button></a>
    </form>
      </div>
    </div>
</div>
